# Stripe
STRIPE_API_KEY=
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=
STRIPE_SUCCESS_URL=
STRIPE_CANCEL_URL=
STRIPE_WEBHOOK_SECRET=
# FaunaDB
FAUNADB_KEY=
# GitHub
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

NEXTAUTH_SECRET=

# Prismic CMS
PRISMIC_ENTRYPOINT=https://maths-ignews.cdn.prismic.io/api/v2
PRISMIC_ACCESS_TOKEN=