# Stripe
STRIPE_API_KEY=sk_test_51MmfHnIdsOFPdfULCqjFp3qjo3WWpYw1BV3ywb45bAfG7D1cpCmgEIbqxuJGLTOpQN92ek7vYDESDes4PaDJGBRV00hk3PtDeJ
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=pk_test_51MmfHnIdsOFPdfULWcvfz6L2jYkt90ffDI85w5nRCySiKTWuhXJG15viV3nwMnVd5fLAX4k2todVvxXLWKyFowoP00sYBmcbS2
STRIPE_SUCCESS_URL=http://localhost:3000/posts
STRIPE_CANCEL_URL=http://localhost:3000/
STRIPE_WEBHOOK_SECRET=whsec_b7cde9cd24290cc525fd1388c94e31283998c2e8287a345e3bfd35f74d8849be
# FaunaDB
FAUNADB_KEY=fnAFAgI309AAUfq4Y-QV-yKU8PVwFtl5NpIIg9sT
# GitHub
GITHUB_CLIENT_ID=173627b19e3cbc7a8046
GITHUB_CLIENT_SECRET=d452eb87901162b3a7810f87bd4b0f267951299a

NEXTAUTH_SECRET=hblWDyHATqV4G6GE/DesMinUzbwGA1A8o3cyba0pznU=